# Data Science Tools and Ecsystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***

- Popular languages that Data Scientists use
- Commonly used libraries used by Data Scienists
- Data Science Tools

Some of the popular languages that Data Scientists use are:
1. C
2. C++
3. Python
4. R

Some of the commonly used libraries used by Data Scienists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

|Data Science Tools|
|------------------|
|VSCode|
|RStudio|
|MySQL|
|mongDB|

Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author
Michael Ceresia